@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 561px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/img-main.jpg) ;
}

.navbar{
    padding: 0 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container h1{
    font-size: 30px;
}

.navbar .container ul{
    display: flex;
    justify-self: flex-end;
}

.navbar .container ul li{
    list-style-type: none ;
    padding: 0 10px;
    margin: 0 10px;
    transition: all 0.3s;
}

.navbar .container ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar .container ul li a:hover{
    font-weight: 700;
    transition: all 0.4s;
}

.showcase{
    display: grid;
    place-items: center;
    margin-top: 150px;
}

.showcase p{
    font-size: 20px;
    font-weight: 600;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 4px;
}

.showcase-btn{
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 20px;
}

.showcase-btn a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.showcase-btn:hover{
    transform: scale(0.95);
    transition: all 0.2s;
}


/* Plants */

.plant-container{
    background-color: rgb(123, 204, 206);
    overflow: auto;
    padding-bottom: 50px;
}

.plant-container h1{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.plant-container h2, .plant-container p{
    margin-left: 6%;
}

.plant-description{
    margin-bottom: 25px;
    margin-left: 6%;
    color: white;
}

.plants{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
}

.plants-div{
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 15px;
    width: 280px;
}

.plants img{
    width: 225px;
    height: 200px;
}

.plant-name{
    font-size: 20px;
    font-weight: 500;
    justify-self: flex-start;
}

.plant-price{
    font-size: 25px;
    justify-self: flex-end;
    margin-right: 20px;
}

.discount-line{
    width: fit-content;
    margin-top: 40px;
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
}

.discount-line span{
    padding: 5px;
    border: dashed 1px  black ;
    border-radius: 5px;

}

/* About */

.about-our-plants{
    padding: 2% 5% 2% 5% ;
}

.about-our-plants div{
    margin-bottom: 30px;
}


/* Customer Reviews */

.customer-reviews{
    display: block;
    place-items: center;
    padding: 2% 5% 5% 5%;
    
    background-color: #f5f5f5;
}

.customer-says{
    margin-bottom: 40px;
}

.customer-says p{
    margin-left: -10px;
}

.customers-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.review-card{
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
}

.review-card h1{
    padding: 0 0 0 10px;
    font-size: 30px;
}

.review-card p{
    padding: 0 15px;
}

.review-card h3{
    text-align: center;
}

/* Footer */

footer{
    background-color: black;
    color: white;
    overflow: hidden;
}

.footer-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2% 5%;
    border-bottom: 2px solid white;
}

.footer-name{
    font-size: 25px;
    width: 20px;
}

.footer-social ul{
    list-style: none;
}

.footer-social ul li i{
    font-size: 30px;
    padding-bottom: 20px;
}

.city-name{
    font-weight: 600;
}

.city-name i{
    margin: 0 10px 0 0;
}

/* Bottom */

.craft-name{
    text-align: center;
}

.copyright{
    text-align: center;
}

/* Tablets and under */

@media (max-width:768px) {
    .plants{
    grid-template-columns: repeat(2, 1fr);
    }

    .plants-div{
        margin-bottom: 20px;
    }

    .footer-main{
    grid-template-columns: repeat(2, 1fr);
    }

    .footer-social ul{
        display: grid;
        margin-top: 50px;
        margin-left: 0;
        padding-left: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobiles */

@media (max-width: 500px) {
    .navbar{
        display: grid;
        place-items: center;
    }
    
    .navbar .container{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .navbar .container h1{
        text-align: center;
    }
    
    .navbar .container ul{
        display: flex;
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .navbar .container ul li{
      padding: 10px;
    }
    
    .navbar .container ul li a{
        color: white;
        font-size: 12px;
    }

    .showcase p{
        margin: 0 2.5% 2.5% 2.5%;
        width: fit-content;
        font-size: 11px;
    }

    .showcase-btn{
        font-size: 10px;
    }
    

    .plants{
        grid-template-columns: 1fr;
    }

    .plants-div{
        margin-bottom: 20px;
    }

    .footer-main{
        place-items: center;
        grid-template-columns: 1fr;
    }

    .footer-name{
        width: auto;
        font-size: 40px;
        text-align: center;
    }

    .customers-grid{
        grid-template-columns: 1fr;
    }

    .footer-social ul{
        display: flex;
        justify-content: space-between;
    }

    .footer-social ul li{
        padding: 0 20px;
    }

    .discount-line{
        line-height: 2;
        font-size: 15px;
        margin-right: 18px;
        border-radius: 20px;
    }
}